<div class="explore">
    <div class="explore__devider">*****</div>
    <div class="explore__label">Explore the different categories</div>
    <ul class="categories">
        {% for category in site.data.categories %}
            <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
		<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">All</a></li>
    </ul>
    <link rel="alternate" type="application/rss+xml" href="https://frdvnw.gitlab.io/tef/feed.xml" />
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/RBloggers.xml" />
    <a href="https://frdvnw.gitlab.io/tef/feed.xml"> -- TEF RSS feed -- </a> * <a href="https://www.r-bloggers.com"> -- R-Bloggers -- </a>
</div>
