---
layout: page
title: Trucs & ficelles
subtitle: codes, blog, ressources, ...
sitemap:
  priority: 0.9
permalink: /blog/
---


<ul class="list-posts">
    {% for post in site.posts %}
        <li class="post-teaser">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-teaser__title">{{ post.title }}</span>
                <span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>
            </a>
        </li>
    {% endfor %}
</ul>



Salut c'est fredo


